<script src="https://cdn.tailwindcss.com"></script>

<!-- Case Study Hero -->
    <section class="pt-16 overflow-hidden bg-white sm:pt-20 lg:pt-28" style="height: 500px !important;">
      <!-- Container -->
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto sm:max-w-3xl lg:mx-0 lg:max-w-none">
          <h1
            class="text-4xl font-semibold leading-tight font-display text-slate-900 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight"
          >
            iOS & Mac OS Apps
          </h1>

          <!-- Tags list -->
          <ul class="flex flex-wrap items-center gap-4 mt-8 sm:gap-6">
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                App Development
              </a>
            </li>
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Development
              </a>
            </li>
          </ul>
          

        </div>
      </div>
      
                <!-- Image -->
      <div
        class="relative block w-full mt-16 overflow-hidden aspect-w-16 aspect-h-9 md:aspect-w-5 md:aspect-h-2 lg:mt-20"
        style="height: 500px !important;"
      >
        <img
          src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-development.png"
          alt="Widgetshow"
          class="object-cover w-full bg-slate-100 object-top"
        />
      </div>
      
    </section>    
    
     {% include case/case-apps-osx-befit.html %}
    
    
    
    {% include case/case-apps-ios-befit.html %}
    
     {% include case/case-apps-ios-sg.html %}
     
      {% include case/case-apps-osx-aage.html %}

     {% include case/case-apps-ios-aa.html %}