    <!-- Case Studies -->
    <section class="py-16 overflow-hidden bg-white sm:pt-24 lg:pt-32">
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-2xl mx-auto lg:mx-0 lg:max-w-none">
          <div
            class="flex flex-col gap-6 lg:flex-row lg:items-center lg:justify-between"
          >
            <h2
              class="text-5xl font-semibold font-display text-slate-900 sm:text-6xl lg:leading-none"
            >
              Case Studies
            </h2>
            
          </div>

          <!-- Case studies list-->
          <div
            class="grid max-w-xl gap-12 mx-auto mt-12 sm:mt-16 lg:mx-0 lg:mt-24 lg:max-w-none lg:grid-cols-2 lg:gap-10 xl:gap-24 lg:pb-32"
          >
            <!-- 1st case study -->
            <div
              class="flex flex-col gap-12 rounded-3xl bg-slate-50 px-7 py-12 sm:gap-14 sm:p-16 lg:py-14 lg:px-10 xl:gap-16 xl:p-16 rounded-tl-[64px]"
            >
              <a
                href="/case-studies/grove/"
                class="relative order-1 block w-full overflow-hidden group aspect-w-16 aspect-h-9 rounded-xl md:aspect-w-3 md:aspect-h-2"
              >
                <img
                  src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-grove.png"
                  alt="Grove Technologies"
                  class="object-cover object-top w-full transition duration-300 rounded-xl bg-slate-100 group-hover:scale-105"
                />
                <div
                  class="absolute inset-0 rounded-xl ring-1 ring-inset ring-slate-900/5"
                ></div>
              </a>
              <div class="flex flex-col items-center order-2">
                <h3
                  class="text-center font-display text-[28px] font-medium text-slate-900"
                >
                  Grove Technologies
                </h3>
                <p class="mt-5 text-base leading-8 text-center text-slate-700">
                  Jon Brown, founded Grove Technologies in 2014 and exited in 2022. Grove was an innovative IT Services company that met the needs of Apple focused organizations nationwide. 
                </p>
                <a
                  href="/case-studies/grove/"
                  class="inline-flex items-center justify-center gap-2 py-3 mt-12 font-medium transition duration-300 bg-white rounded-full shadow-sm group px-9 text-md text-sky-900 shadow-sky-100/50 ring-1 ring-slate-100/90 hover:bg-white/60 hover:text-sky-700 hover:shadow-md hover:shadow-sky-100"
                >
                  View Case study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 duration-300 ease-in-out text-sky-800 group-hover:text-sky-700"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </div>

            <!-- 2nd case study -->
            <div
              class="flex flex-col gap-12 rounded-3xl bg-slate-50 px-7 py-12 sm:gap-14 sm:p-16 lg:py-14 lg:px-10 xl:gap-16 xl:p-16 transform rounded-br-[64px] lg:translate-y-24 xl:translate-y-32"
            >
              <a
                href="/case-studies/jbd/"
                class="relative order-2 block w-full overflow-hidden group aspect-w-16 aspect-h-9 rounded-xl md:aspect-w-3 md:aspect-h-2"
              >
                <img
                  src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-designs.png"
                  alt="Jon Brown Designs"
                  class="object-cover object-top w-full transition duration-300 rounded-xl bg-slate-100 group-hover:scale-105"
                />
                <div
                  class="absolute inset-0 rounded-xl ring-1 ring-inset ring-slate-900/5"
                ></div>
              </a>
              <div class="flex flex-col items-center order-1">
                <h3
                  class="text-center font-display text-[28px] font-medium text-slate-900"
                >
                  Graphic & Web Designer
                </h3>
                <p class="mt-5 text-base leading-8 text-center text-slate-700">
                  From 2001-2023 Jon Brown has been an off again, on again graphic designer and web developer. Explore his journey and career highlights. 
                </p>
                <a
                  href="/case-studies/jbd/"
                  class="inline-flex items-center justify-center gap-2 py-3 mt-12 font-medium transition duration-300 bg-white rounded-full shadow-sm group px-9 text-md text-sky-900 shadow-sky-100/50 ring-1 ring-slate-100/90 hover:bg-white/60 hover:text-sky-700 hover:shadow-md hover:shadow-sky-100"
                >
                  View Case study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 duration-300 ease-in-out text-sky-800 group-hover:text-sky-700"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </div>

            <!-- 3rd case study -->
            <div
              class="flex flex-col gap-12 rounded-3xl bg-slate-50 px-7 py-12 sm:gap-14 sm:p-16 lg:py-14 lg:px-10 xl:gap-16 xl:p-16 rounded-tl-[64px]"
            >
              <a
                href="/case-studies/jbc/"
                class="relative order-1 block w-full overflow-hidden group aspect-w-16 aspect-h-9 rounded-xl md:aspect-w-3 md:aspect-h-2"
              >
                <img
                  src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-consulting.png"
                  alt="Jon Brown Consulting"
                  class="object-cover object-top w-full transition duration-300 rounded-xl bg-slate-100 group-hover:scale-105"
                />
                <div
                  class="absolute inset-0 rounded-xl ring-1 ring-inset ring-slate-900/5"
                ></div>
              </a>
              <div class="flex flex-col items-center order-2">
                <h3
                  class="text-center font-display text-[28px] font-medium text-slate-900"
                >
                  Mentor & Consulting
                </h3>
                <p class="mt-5 text-base leading-8 text-center text-slate-700">
                  Learn how Jon went from employee to Entrepreneur by starting his journey as a consultant, and giving back through mentorship. 
                </p>
                <a
                  href="/case-studies/jbc/"
                  class="inline-flex items-center justify-center gap-2 py-3 mt-12 font-medium transition duration-300 bg-white rounded-full shadow-sm group px-9 text-md text-sky-900 shadow-sky-100/50 ring-1 ring-slate-100/90 hover:bg-white/60 hover:text-sky-700 hover:shadow-md hover:shadow-sky-100"
                >
                  View Case study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 duration-300 ease-in-out text-sky-800 group-hover:text-sky-700"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </div>

            <!-- 4th case study -->
            <div
              class="flex flex-col gap-12 rounded-3xl bg-slate-50 px-7 py-12 sm:gap-14 sm:p-16 lg:py-14 lg:px-10 xl:gap-16 xl:p-16 transform rounded-br-[64px] lg:translate-y-24 xl:translate-y-32"
            >
              <a
                href="/case-studies/apps/"
                class="relative order-2 block w-full overflow-hidden group aspect-w-16 aspect-h-9 rounded-xl md:aspect-w-3 md:aspect-h-2"
              >
                <img
                  src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-development.png"
                  alt="Jon Brown Developing"
                  class="object-cover object-top w-full transition duration-300 rounded-xl bg-slate-100 group-hover:scale-105"
                />
                <div
                  class="absolute inset-0 rounded-xl ring-1 ring-inset ring-slate-900/5"
                ></div>
              </a>
              <div class="flex flex-col items-center order-1">
                <h3
                  class="text-center font-display text-[28px] font-medium text-slate-900"
                >
                  iOS & Mac OS Apps
                </h3>
                <p class="mt-5 text-base leading-8 text-center text-slate-700">
                 Since 2006 Jon Brown has been an iOS and macOS developer, with many apps in the iOS and macOS App Store, explore his creations over time. 
                </p>
                <a
                  href="/case-studies/apps/"
                  class="inline-flex items-center justify-center gap-2 py-3 mt-12 font-medium transition duration-300 bg-white rounded-full shadow-sm group px-9 text-md text-sky-900 shadow-sky-100/50 ring-1 ring-slate-100/90 hover:bg-white/60 hover:text-sky-700 hover:shadow-md hover:shadow-sky-100"
                >
                  View Case study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 duration-300 ease-in-out text-sky-800 group-hover:text-sky-700"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </div>

            <!-- 5th case study -->
            <div
              class="flex flex-col gap-12 rounded-3xl bg-slate-50 px-7 py-12 sm:gap-14 sm:p-16 lg:py-14 lg:px-10 xl:gap-16 xl:p-16 rounded-tl-[64px]"
            >
              <a
                href="/case-studies/grove-designs/"
                class="relative order-1 block w-full overflow-hidden group aspect-w-16 aspect-h-9 rounded-xl md:aspect-w-3 md:aspect-h-2"
              >
                <img
                  src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-gr-designs.png"
                  alt="Grove Designs"
                  class="object-cover object-top w-full transition duration-300 rounded-xl bg-slate-100 group-hover:scale-105"
                />
                <div
                  class="absolute inset-0 rounded-xl ring-1 ring-inset ring-slate-900/5"
                ></div>
              </a>
              <div class="flex flex-col items-center order-2">
                <h3
                  class="text-center font-display text-[28px] font-medium text-slate-900"
                >
                  Grove Designs
                </h3>
                <p class="mt-5 text-base leading-8 text-center text-slate-700">
                  For a few years we highlighted our UI/UX design capabilities through our macOS and iOS apps. 
                </p>
                <a
                  href="/case-studies/grove-designs/"
                  class="inline-flex items-center justify-center gap-2 py-3 mt-12 font-medium transition duration-300 bg-white rounded-full shadow-sm group px-9 text-md text-sky-900 shadow-sky-100/50 ring-1 ring-slate-100/90 hover:bg-white/60 hover:text-sky-700 hover:shadow-md hover:shadow-sky-100"
                >
                  View Case study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 duration-300 ease-in-out text-sky-800 group-hover:text-sky-700"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </div>

            <!-- 6th case study -->
            <div
              class="flex flex-col gap-12 rounded-3xl bg-slate-50 px-7 py-12 sm:gap-14 sm:p-16 lg:py-14 lg:px-10 xl:gap-16 xl:p-16 transform rounded-br-[64px] lg:translate-y-24 xl:translate-y-32"
            >
              <a
                href="/case-studies/widgetshow/"
                class="relative order-2 block w-full overflow-hidden group aspect-w-16 aspect-h-9 rounded-xl md:aspect-w-3 md:aspect-h-2"
              >
                <img
                  src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-widgetshow.png"
                  alt="NebulaTech Icon Set"
                  class="object-cover object-top w-full transition duration-300 rounded-xl bg-slate-100 group-hover:scale-105"
                />
                <div
                  class="absolute inset-0 rounded-xl ring-1 ring-inset ring-slate-900/5"
                ></div>
              </a>
              <div class="flex flex-col items-center order-1">
                <h3
                  class="text-center font-display text-[28px] font-medium text-slate-900"
                >
                  Widget Show: A podcast about macOS Dashboard Widgets
                </h3>
                <p class="mt-5 text-base leading-8 text-center text-slate-700">
                  For three years I ran and designed 2 websites that showcased the Widget Show and I was the host as well. Eventually the show ended with Apple phasing out the use of the Dashboard and its widgets.
                </p>
                <a
                  href="/case-studies/widgetshow/"
                  class="inline-flex items-center justify-center gap-2 py-3 mt-12 font-medium transition duration-300 bg-white rounded-full shadow-sm group px-9 text-md text-sky-900 shadow-sky-100/50 ring-1 ring-slate-100/90 hover:bg-white/60 hover:text-sky-700 hover:shadow-md hover:shadow-sky-100"
                >
                  View Case study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-5 h-5 duration-300 ease-in-out text-sky-800 group-hover:text-sky-700"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>