<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#1abd6f">
	<meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="keywords" content="{{ page.keywords }}">
  	<meta name="twitter:description" content="{{ page.description }}">
	<meta property="og:type" content="{{ page.ogtype }}">
	<meta name="follow.it-verification-code" content="4vjg2w8Yre6kAY6LwhjR"/>
	{% if site.production == true and page.sitemap != false  %}
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  	{% else %}
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	{% endif %}
	
	{% seo %}
	
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.site_url }}/images/logo-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.site_url }}/images/logo-icon.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.site_url }}/images/logo-icon.png">
	<link rel="mask-icon" href="{{ site.site_url }}/images/logo-icon.png" color="#1abd6f">
	
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@400;500;600;700;800&family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ site.site_url }}/css/main.css" />
    
     <!-- Termly -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="https://app.termly.io/resource-blocker/e115492e-ed81-4663-b00f-00bef4f13c46?autoBlock=on"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- AlpineJS -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <script type="text/javascript" src="{{ site.site_url }}/js/dom-drag.js"></script>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{ site.site_url }}/images/favicon.ico" />
    
    <script async="" src="https://assets.mailerlite.com/js/universal.js"></script><script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1303120');
	</script>
	
	
    <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script><script src="https://assets.mailerlite.com/jsonp/1303120/forms/144842435086780321/takel?cache=1738134004258435963304326117" async="true"></script><script type="text/javascript" src="https://assets.mlcdn.com/ml/ajax/libs/jquery/3.7.1/jquery.min.js"></script><script type="text/javascript" src="https://assets.mlcdn.com/gr/js/w/ml_jQuery.inputmask.bundle.min.js?v3.3.1"></script>
	<script src="https://assets.mailerlite.com/jsonp/1303120/forms/aPKgHu?callback=ml.fn.renderEmbeddedForm" async="true"></script><script src="https://assets.mailerlite.com/jsonp/1303120/forms?callback=ml.fn.renderPopupsAndPromotions" async="true"></script><script>
    function ml_webform_success_22103855() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-22103855 .row-success').show();
      $('.ml-subscribe-form-22103855 .row-form').hide();
    }
    </script>

</head>
