<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Inter:wght@400;500;600;700;800&family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ site.site_url }}/css/main.css" />
    
     <!-- Termly -->
    <script
  	type="text/javascript"
  	src="https://app.termly.io/resource-blocker/e115492e-ed81-4663-b00f-00bef4f13c46?autoBlock=on"></script>

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <!-- AlpineJS -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <script type="text/javascript" src="{{ site.site_url }}/js/dom-drag.js"></script>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{ site.site_url }}/images/favicon.ico" />

    <!-- PAGE TITLE -->
    <title>
      Jon Brown - Developer, entrepreneur, and Apple technologist
    </title>
    <meta
      name="description"
      content="I am a Mac Support Enthusiast, Web Developer, Graphic Designer, Cybersecurity Analyst, and Serial Entrepreneur in the Apple focused MSP Space with a successful exit" />
</head>
