<!-- Case Study Hero -->
    <section class="pt-16 overflow-hidden bg-white sm:pt-20 lg:pt-28">
      <!-- Container -->
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto sm:max-w-3xl lg:mx-0 lg:max-w-none">
          <h1
            class="text-4xl font-semibold leading-tight font-display text-slate-900 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight"
          >
            Grove Technologies
          </h1>

          <!-- Tags list -->
          <ul class="flex flex-wrap items-center gap-4 mt-8 sm:gap-6">
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Branding
              </a>
            </li>
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Service
              </a>
            </li>
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Design
              </a>
            </li>
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Custom Website
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Image -->
      <div
        class="relative block w-full mt-16 overflow-hidden aspect-w-16 aspect-h-9 md:aspect-w-5 md:aspect-h-2 lg:mt-20"
      >
        <img
          src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-grove.png"
          alt="Grove Technologies"
          class="object-cover w-full bg-slate-100 object-top"
        />
      </div>
    </section>

    <!-- Case Study Details -->
    <section class="py-16 overflow-hidden bg-white sm:py-20 lg:py-28">
      <!-- Container -->
      <div
        class="grid max-w-lg px-5 mx-auto sm:max-w-2xl sm:px-6 lg:max-w-6xl lg:grid-cols-10 lg:px-8 xl:px-12"
      >
        <!-- Details -->
        <div
          class="order-2 pt-8 mt-8 border-t border-slate-200 lg:order-1 lg:col-span-3 lg:mt-0 lg:border-0 lg:pt-0 lg:pr-8"
        >
          <!-- Details list -->
          <dl class="space-y-8">
            <!-- 1st detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Logo & Brand
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">
                Artfully crafted by Illustria in Washington D.C. Illustria closed its doors in 2016, Brand crafted by the services of Drew Garvey.  
              </dd>
            </div>

            <!-- 2nd detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Industry
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">
                Managed Services Providers
              </dd>
            </div>

            <!-- 3rd detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Company Size
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">5-10</dd>
            </div>

            <!-- 4th detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Headquarters
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">
                Washington D.C., United States
              </dd>
            </div>

            <!-- 5th detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Years in Business
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">
                9 Years
              </dd>
            </div>
          </dl>

          <!-- Action -->
          <a
            href="/sites/grove/2022/"
            target="_blank"
            class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-14 font-medium"
          >
            Visit Site
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
          
          
          
        </div>

        <!-- Description -->
        <div class="order-1 lg:order-2 lg:col-span-7 lg:pl-16">
          <h3
            class="text-xl font-medium leading-8 font-display text-slate-900 sm:text-2xl sm:leading-10"
          >
            Grove was built out of a need for superior Apple focused IT services for design agencies in Washington D.C. 
          </h3>

          <!-- Content -->
          <div class="mt-6 prose sm:prose-lg sm:mt-8">
            <p>
              In 2012 Jon Brown, left his job at Blue State Digital where he was rose to the rank of IT Director. Blue State Digital a campaign services digital agency is best known for its work on the Obama presidential campaign where they built the BSD Tools a tool stack that led to the largest successful crowdfunding campaign for small dollar donations and catapulted Barak Obama into the presidency. Shortly thereafter Jon helped transform their IT program internally leading to an overall balanced budget and a 4 year plan for success. After three years Jon, infused by the entrepreneurial spirit that exuded from Blue State Digital, decided to strike out on his own.  
            </p>
            <p>
              After leaving Blue State Digital, Jon Brown, started consulting and helping digital agencies establish their own successful IT programs. However it wasn't success at the start. Jon took work as a Web Developer at The Arc of the US where he created a web development agency within the non profit supporting local chapters who needed and wanted to get their own website. While doing that Jon took a role at the Marijuana Policy Project where he again helped them as their IT director. All the while consulting on the side. 
            </p>

            <p>
	      Eventually, Jon reached success when he got a large client and was able to leave his 2 full time roles and started Mac Gurus, his first foyer as a real business owner. Jon continued consulting for The Arc of the US and MPP and they became one of his first foundational set of clients. As Jon grew so did word of mouth of his success. Ultimately Jon was forced to change the name of the company from Mac Gurus to Grove Technologies due to a name dispute for another services provider using a similar name. 
            </p>

            <p>
              Luckily for Jon, one of his then clients Illustria a branding and design agency that Jon consulted with helped Jon create the brand we know and love today. Grove. A name that illustrates our approach to IT Support Services, orderly, planned, and Apple focused. 
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Case Study Gallery -->
    <section class="py-16 overflow-hidden bg-slate-50 sm:py-10 lg:py-10 xl:py-8">
      <!-- Container-->
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">

	  <div class="text-center">

        <!-- Gallery -->
        <div
          class="grid max-w-lg gap-8 mx-auto sm:max-w-2xl sm:grid-cols-2 lg:mx-0 lg:max-w-none mt-0"
        >
          <!-- 1st image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-01-image-01.png"
              alt=""
              class="object-cover object-center w-full rounded-3xl bg-slate-100"
            />
          </div>

          <!-- 2nd image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-01-image-02.png"
              alt=""
              class="object-cover object-center w-full rounded-3xl bg-slate-100"
            />
          </div>

          <!-- 3rd image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-01-image-03.png"
              alt=""
              class="object-cover object-center w-full rounded-3xl bg-slate-100"
            />
          </div>

          <!-- 4th image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-01-image-04.png"
              alt=""
              class="object-cover object-center w-full rounded-3xl bg-slate-100"
            />
          </div>
        </div>
      </div>
    </section>
    
    
    
    
    <!-- Timeline -->
    <section class="py-16 overflow-hidden bg-white sm:py-20 lg:py-28">
      <!-- Container -->
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-6xl mx-auto">
            
          
		<script src="https://cdn.tailwindcss.com"></script>
		
		
		<!-- Headline -->
          <h2
            class="max-w-3xl mx-auto text-4xl font-semibold leading-tight text-center font-display text-slate-900 sm:text-5xl sm:leading-tight"
          >
            A historical view
            <span class="relative sm:whitespace-nowrap">
              <span class="relative text-sky-700">of our 
              
              <span class="relative whitespace-nowrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="249" height="22" viewBox="0 0 249 22" fill="currentColor" class="absolute top-2/3 left-0 h-[0.6em] w-full fill-sky-200/75">
                  <path d="M247.564 18.5808C241.772 13.3568 232.473 12.7526 225.225 11.4427C217.124 9.97398 208.996 8.57034 200.846 7.46096C186.542 5.51305 172.169 4.08857 157.79 3.01565C126.033 0.645858 94.0929 0.0338786 62.3387 2.36982C42.1785 3.85419 22.008 5.90888 2.32917 10.8464C-0.0155171 11.4349 0.207047 14.6719 2.6889 14.7084C22.0261 14.9896 41.3866 12.6406 60.7109 11.8568C79.9471 11.0808 99.2274 10.6719 118.484 10.9558C142.604 11.3125 166.719 12.8334 190.722 15.5156C199.956 16.5469 209.195 17.6016 218.411 18.8255C227.864 20.0808 237.259 22 246.767 20.7422C247.709 20.6198 248.426 19.3568 247.564 18.5808Z"></path>
                </svg>

                <span class="relative text-sky-700">brand</span>
              </span>
              
              
               over time</span>
            </span>
          </h2>
        
        
        <div class="w-full max-w-3xl mx-auto lg:py-16">
                
                
                 <!-- Item #2 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2023</time>
                                <div class="text-xl font-bold text-slate-900">511: Interview With Jon Brown, VP Of Technology & Cybersecurity at Interlaced.io</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Jon is Vice President of Technology and Cybersecurity at Interlaced.io and owner of Grove Technologies. He recently completely a merger with Interlaced. </div>
                            <div>
                            	<a
								href="https://commandcontrolpower.com/podcast/2023/4/11/511-interview-with-jon-brown-vp-of-technology-amp-cybersecurity-at-interlacedio?rq=511"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
							  <br><br>
							  <iframe title="Embed Player" src="https://play.libsyn.com/embed/episode/id/26465793/height/128/theme/modern/size/standard/thumbnail/yes/custom-color/87A93A/time-start/00:00:00/playlist-height/200/direction/backward/download/yes" height="128" width="100%" scrolling="no" allowfullscreen="" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true" style="border: none;" data-ruffle-polyfilled=""></iframe>
          
                            </div>
                        </div>
                        
                        
                    <!-- Vertical Timeline #1 -->
                    <div class="-my-6">

                        <!-- Item #1 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2023</time>
                                <div class="text-xl font-bold text-slate-900">Jon Brown exit of Grove to Interlaced.io</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">The website at the time highlighted our commitment to Apple Support Services and our robust CMMC offering and brand messaging and pricing are honed in. Developed with Tailwind CSS, HTML 5, and Javascript. Hosted on GitHub using the Jekyll CMS.</div>
                            <div>
                            	<a
								href="/sites/grove/2022/"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
          
                            </div>
                        </div>
                        <!-- Item #7 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2022</time>
                                <div class="text-xl font-bold text-slate-900">Winners of NextGen 101 #3 Nationwide Best MSP</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Grove places #3 nationwide best MSP in the innovative and most profitable managed services IT provider nationwide.</div>
                            
                            <div>
          
                            </div>
                        </div>
                        
                        <!-- Item #2 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2021</time>
                                <div class="text-xl font-bold text-slate-900">434: Interview With Jon Brown, founder & CEO of Grove Technologies</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Starting a new business proved to be challenging initially. He talks about his learning curve and experiences building his current business.</div>
                            <div>
                            	<a
								href="https://commandcontrolpower.com/podcast/2021/10/12/434-interview-with-jon-brown-ceo-of-grove-technologies"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
							  <br><br>
							 <iframe title="Libsyn Player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/20687018/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/87A93A/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
          
                            </div>
                        </div>
                        
                        <!-- Item #7 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2021</time>
                                <div class="text-xl font-bold text-slate-900">Grove added to GSA Schedule and MSP 501!!</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Grove places in top 50 nationwide best MSP nationwide on Channel Futurs fastest growing MSPs. Grove also added to national GSA schedule for Government Contracts and becomes a CMMC RPO!</div>
                            
                            <div>
          
                            </div>
                        </div>
                        
                        <!-- Item #2 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2020</time>
                                <div class="text-xl font-bold text-slate-900">Winners of the MSP 501 award placing #17 nationwide</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">This site represents the evolution of our brand. As you can see our messaging is not quite dialed in. Developed with Tailwind CSS, HTML 5, and Javascript. Hosted on GitHub using the Jekyll CMS.</div>
                            <div>
                            	<a
								href="/sites/grove/2020/"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
          
                            </div>
                        </div>
                        
                        <!-- Item #2 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2020</time>
                                <div class="text-xl font-bold text-slate-900">384: Interview With Jon Brown, founder & CEO of Grove Technologies</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">This week we welcome Jon Brown of Grove Technologies and VIP sponsor of Command Control Power! Jon takes us through his path of leaving a 9-to-5 job and starting a consultancy to fill a visible void.</div>
                            <div>
                            	<a
								href="https://commandcontrolpower.com/podcast/2020/10/27/384-interview-with-jon-brown-founder-amp-ceo-of-grove-technologies"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
							  <br><br>
							  <iframe title="Libsyn Player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/16525634/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/87A93A/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
          
                            </div>
                        </div>
                        
                        
                        <!-- Item #3 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2019</time>
                                <div class="text-xl font-bold text-slate-900">Grove is accepted into the Apple Consultants Network.</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Grove is honored by being accepted into the Apple Consultants Network. Developed with Bootstrap CSS, HTML 5, and Javascript. Hosted on GitHub using the Jekyll CMS.</div>
                        	<div>
                            	<a
								href="/sites/grove/2019/"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
          
                            </div>
                        </div>
                        
                        <!-- Item #4 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2018</time>
                                <div class="text-xl font-bold text-slate-900">Grove becomes a true MSP</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Grove starts offering its services in a true MSP style and broadened its portfolio of services to include cybersecurity, risk assessments, antiphishing technologies, and more. Developed with Bootstrap CSS, HTML 5, and Javascript. Hosted on GitHub using the Jekyll CMS.</div>
                            
                            <div>
                            	<a
								href="/sites/grove/2018/"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
          
                            </div>
                        </div>
                        
                        <!-- Item #5 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2017</time>
                                <div class="text-xl font-bold text-slate-900">End of an Era Mac Gurus becomes Grove</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Mac Gurus goes through name dispute and becomes Grove due to the help of Illustria and Drew Garvey. Developed with Bootstrap CSS, HTML 5, and Javascript. Hosted on GitHub using the Jekyll CMS.</div>
                            
                            <div>
                            	<a
								href="/sites/grove/2017/"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
          
                            </div>
                        </div>
                        
                        <!-- Item #6 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2016</time>
                                <div class="text-xl font-bold text-slate-900">Mac Gurus goes from One to Three Staff</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Mac Gurus my solopreneur consulting company starts to gain traction. Developed with Bootstrap CSS, HTML 5, and Javascript. Hosted on GitHub using the Jekyll CMS.</div>
                            
                            <div>
                            	<a
								href="/sites/grove/2016/"
								target="_blank"
								class="bg-slate-900 text-white hover:bg-sky-800 inline-flex items-center rounded-full gap-2.5 justify-center px-7 py-3 text-md leading-none outline-offset-2 transition-all duration-200 ease-in-out active:transition-none mt-5 font-medium"
							  >
								Visit Site
								<svg
								  xmlns="http://www.w3.org/2000/svg"
								  viewBox="0 0 20 20"
								  fill="currentColor"
								  class="w-5 h-5 duration-200 ease-in-out text-slate-50 group-hover:text-white"
								>
								  <path
									fill-rule="evenodd"
									d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
									clip-rule="evenodd"
								  />
								</svg>
							  </a>
          
                            </div>
                        </div>


						<!-- Item #7 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2015</time>
                                <div class="text-xl font-bold text-slate-900">Mac Gurus Grows</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Going from a staff of one, Jon hires 3 employees to help build out the Network services offering and broadened its client base by 90% in the DC area</div>
                            
                            <div>
          
                            </div>
                        </div>
                        
                        
						<!-- Item #7 -->
                        <div class="relative pl-8 sm:pl-32 py-6 group">
                            <!-- Purple label -->
                            
                            <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                            <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-sky-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-20 h-6 mb-3 sm:mb-0 text-slate-600 bg-slate-100 rounded-full">2014</time>
                                <div class="text-xl font-bold text-slate-900">Mac Gurus Founded</div>
                            </div>
                            <!-- Content -->
                            <div class="text-slate-500">Founder, Jon Brown starts Mac Gurus LLC in Washington DC and starts offering Mac consulting services to a few digital agencies in the area</div>
                            
                            <div>
          
                            </div>
                        </div>
                        
                        
                    </div>
                    <!-- End: Vertical Timeline #1 -->
                    
                </div>
                
          
          
        </div>
      </div>
    </section>
    
    

    <!-- Case Study Testimonial -->
    <section class="py-16 overflow-hidden bg-white sm:py-20 lg:py-28 border-t border-slate-200">
      <!-- Container -->
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-6xl mx-auto">
            
          <!-- Headline -->
          <h2
            class="max-w-3xl mx-auto text-4xl font-semibold leading-tight text-center font-display text-slate-900 sm:text-5xl sm:leading-tight"
          >
            Insights from Jon Brown
            <span class="relative sm:whitespace-nowrap">
              <span class="relative text-sky-700">CEO of Grove Technologies</span>
            </span>
          </h2>

          <!-- Testimonial -->
          <div
            class="relative w-full max-w-4xl px-6 py-10 mx-auto overflow-hidden mt-14 rounded-3xl bg-slate-50 sm:mt-16 sm:p-12 md:py-14 md:px-16 lg:mt-20 lg:px-20 lg:py-16"
          >
            <img
              src="{{ site.site_url }}/images/testimonial-bg.svg"
              alt=""
              class="absolute inset-0 object-cover object-left w-full h-full"
            />

            <blockquote class="relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 48 48"
                class="absolute w-20 h-20 -left-3 -top-6 text-slate-500/10 sm:-left-8 sm:-top-10 sm:h-28 sm:w-28"
              >
                <g>
                  <path
                    fill="currentColor"
                    d="M21.66145,33.81676c0,4.29661-3.96109,8.22346-8.91304,8.22346C4.56585,42.04022,1,35.98671,1,27.90615 c0-9.27484,9.34862-18.21943,17.83035-21.94637l2.26574,3.64916C14.10766,12.9954,8.88433,17.58691,8.14413,25.28492h2.89106 c3.09587,0,6.31198,0.4991,8.45903,2.72402C21.02498,29.59761,21.66145,31.62025,21.66145,33.81676z M47,33.81676 c0,4.29661-3.96109,8.22346-8.91304,8.22346c-8.18256,0-11.74842-6.05352-11.74842-14.13408 c0-9.27484,9.34862-18.21943,17.83035-21.94637l2.26574,3.64916c-6.98843,3.38646-12.21176,7.97797-12.95195,15.67598 c3.15316,0,5.76908-0.11425,8.09925,0.71955C45.21084,27.30299,47,30.10812,47,33.81676z"
                  ></path>
                </g>
              </svg>
              <p
                class="relative text-lg font-medium leading-8 text-slate-900 sm:text-xl sm:leading-10"
              >
                &quot;Running and growing Grove Technologies was one of the greatest moments of my life. I was surrounded by cheerleaders that helped motivate me to take the passion I had and still have for helping small businesses transform their IT support program at scale. &quot;
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </section>