<!-- Case Study Hero -->
    <section class="pt-16 overflow-hidden bg-white sm:pt-20 lg:pt-28">
      <!-- Container -->
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto sm:max-w-3xl lg:mx-0 lg:max-w-none">
          <h1
            class="text-4xl font-semibold leading-tight font-display text-slate-900 sm:text-5xl sm:leading-tight lg:text-6xl lg:leading-tight"
          >
            iOS & Mac OS Apps
          </h1>

          <!-- Tags list -->
          <ul class="flex flex-wrap items-center gap-4 mt-8 sm:gap-6">
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                App Development
              </a>
            </li>
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Development
              </a>
            </li>
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Design
              </a>
            </li>
            <li>
              <a
                href="#0"
                class="inline-block px-6 py-2 text-sm font-medium transition duration-200 ease-in-out rounded-full bg-slate-50 text-slate-800 ring-1 ring-slate-100/80 hover:bg-slate-100/95 hover:text-slate-900 lg:text-md"
              >
                Dashboard Widgets
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Image -->
      <div
        class="relative block w-full mt-16 overflow-hidden aspect-w-16 aspect-h-9 md:aspect-w-5 md:aspect-h-2 lg:mt-20"
      >
        <img
          src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-development.png"
          alt="Widgetshow"
          class="object-cover w-full bg-slate-100 object-top"
        />
      </div>
    </section>

    <!-- Case Study Details -->
    <section class="py-16 overflow-hidden bg-white sm:py-20 lg:py-28">
      <!-- Container -->
      <div
        class="grid max-w-lg px-5 mx-auto sm:max-w-2xl sm:px-6 lg:max-w-6xl lg:grid-cols-10 lg:px-8 xl:px-12"
      >
        <!-- Details -->
        <div
          class="order-2 pt-8 mt-8 border-t border-slate-200 lg:order-1 lg:col-span-3 lg:mt-0 lg:border-0 lg:pt-0 lg:pr-8"
        >
          <!-- Details list -->
          <dl class="space-y-8">
            <!-- 1st detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                App Development
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">
                I started tinkering with web development in 1998 in college, and was hooked from there. Learned HTML, JS, CSS, and PHP as my core stack and then moved into Python, Obj-C and then Swift. 
              </dd>
            </div>

            <!-- 2nd detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Industry
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">
                App Development
              </dd>
            </div>

            <!-- 3rd detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Duration
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">3 Years</dd>
            </div>

            <!-- 4th detail -->
            <div>
              <dt class="text-lg font-medium font-display text-slate-900">
                Topic
              </dt>
              <dd class="mt-2.5 max-w-sm leading-7 text-slate-700">
                App, Web, Desktop App, iOS and Widget Development
              </dd>
            </div>

            
          </dl>
          
        </div>

        <!-- Description -->
        <div class="order-1 lg:order-2 lg:col-span-7 lg:pl-16">
          <h3 class="text-xl font-medium leading-8 font-display text-slate-900 sm:text-2xl sm:leading-10">
            When learning how to develop, for me it was a slow progression of just figuring out how things worked. I didn't go to school for a BS, I was enrolled in a BA of Graphic Design and so I was obsessed with the look, feel and utility of programs which is what drew me to Apple products as far back as the 90s.
          </h3>

          <!-- Content -->
          <div class="mt-6 prose sm:prose-lg sm:mt-8">
            <p>
              I dabbled early on with Tripod, a Lycos free hosting website solution similar to Geocities but way cooler. Initially I created websites like that with free online builders before getting into the code and learning HTML and CSS. Javascript would come naturally, interestingly enough I was also drawn to Flash and became an expert in Actionscript which at the time was very similar to Javascript but in the Flash UI. 
            </p>
            <p>
              From there I continued to build sites and then when I was hired at Food & Water Watch, was able to go to the Big Nerd Ranch where I learned how to program in Objective C and created my first ever iOS app for the organization called the Smart Seafood Guide where we called out the fish that were good to eat and those that were on the "Dirty Dozen" list of fish to avoid for bad fishing practices. 
            </p>

            <p>
	         During that time Apple was phasing out their Dashboard Widgets and I was learning how to convert the code I had invested in and built out macOS apps as an outlet to continue the work and thus BeFit for Mac was born. It took the utility from my 2 widgets, Calorie Counter, and the database of foods Calorie Tracker to create a one stop app to track food intake and measure that against your desired BMI over time. 
	        </p>

            <p>
              Having an app to accompany the BeFit app on the phone was important and thats what I developed next releasing BeFit Tracker for iOS giving you the same functionality in addition however the ability to add custom foods by scanning the barcode of any on the shelf product. 
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Case Study Gallery -->
    <section class="py-16 overflow-hidden bg-slate-50 sm:py-10 lg:py-10 xl:py-8">
      <!-- Container-->
      <div class="max-w-screen-xl px-5 mx-auto sm:px-6 lg:px-8">

	  <div class="text-center">

        <!-- Gallery -->
        <div
          class="grid max-w-lg gap-8 mx-auto sm:max-w-2xl sm:grid-cols-2 lg:mx-0 lg:max-w-none mt-0"
        >
          <!-- 1st image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-thumbnail-bvd.png"
              alt=""
              class="object-cover object-top rounded-3xl bg-slate-100"
            />
          </div>

          <!-- 2nd image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-tracker-featured.png"
              alt=""
              class="object-cover object-top rounded-3xl bg-slate-100"
            />
          </div>

          <!-- 3rd image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-scott-featured.png"
              alt=""
              class="object-cover object-center w-full rounded-3xl bg-slate-100"
            />
          </div>

          <!-- 4th image -->
          <div
            class="w-full overflow-hidden aspect-w-3 aspect-h-2 sm:aspect-w-4 sm:aspect-h-3"
          >
            <img
              src="{{ site.site_url }}/images/case_studies/case-study-grove-featured.png"
              alt=""
              class="object-cover object-center w-full rounded-3xl bg-slate-100"
            />
          </div>
        </div>
      </div>
    </section>
    
    
    
    {% include case/case-apps-widgets.html %}  
    
    {% include case/case-apps-osx.html %}
    
    {% include case/case-apps-ios.html %}