.none {
	display: block;
	font: .7em "lucida sans", verdana, sans-serif;
	position: relative;
	color: #333;
	margin: 0 0 1em;
	padding: 0.5em;
	background-color: #fff;
	border: 1px dotted #ccc;
}

.NOTOK {
	display: block;
	font: .7em "lucida sans", verdana, sans-serif;
	position: relative;
	color: #000;
	margin: 0 0 1em;
	padding: 0.5em;
	background-color: #ffdfdf;
	border: 1px dotted #de9292;
}

.OK {
	display: block;
	font: 0.7em "lucida sans", verdana, sans-serif;
	position: relative;
	color: #003300;
	margin: 0 0 1em;
	padding: 0.5em;
	border: 1px dotted #de9292;
	background-color: #CCFFAA;
}

.errorMessage {
	display: block;
	font: .7em "lucida sans", verdana, sans-serif;
	position: relative;
	color: #000;
	margin: 0 0 1em;
	padding: 0.5em;
	background-color: #ffdfdf;
	border: 1px dotted #de9292;
}

.focus { background-color: #fefbc8; }

.error {
	background: #FF9999;
}

.warning {
	background: url(../img/marks.gif) no-repeat left 0px;
}

.checkmark {
	background: url(../img/marks.gif) no-repeat left -40px;
}

.question {
	background: none;
}

.highlight {
	background: url(../img/marks.gif) no-repeat left -60px;
}
