/*------------------------------------------------------------------
[5. Form Elements]
*/
/* Open Sans @font-face kit */

/* Open Sans 300 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem5YaGs126MiZpBA-UN_r8OUuhs.woff2') format('woff2');
}

/* Open Sans 300 Italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem6YaGs126MiZpBA-UFUK0Udc1GAK6b.woff2') format('woff2');
}

/* Open Sans 400 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem8YaGs126MiZpBA-UFVZ0e.woff2') format('woff2');
}

/* Open Sans 400 Italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem8YaGs126MiZpBA-UFVp0e.woff2') format('woff2');
}

/* Open Sans 600 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem5YaGs126MiZpBA-UNirkOUuhs.woff2') format('woff2');
}

/* Open Sans 600 Italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem6YaGs126MiZpBA-UFUK0ddM1GAK6b.woff2') format('woff2');
}

/* Open Sans 700 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem5YaGs126MiZpBA-UN7rgOUuhs.woff2') format('woff2');
}

/* Open Sans 700 Italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem6YaGs126MiZpBA-UFUK0ddc1GAK6b.woff2') format('woff2');
}

/* Open Sans 800 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem5YaGs126MiZpBA-UN8rsOUuhs.woff2') format('woff2');
}

/* Open Sans 800 Italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v36/mem6YaGs126MiZpBA-UFUK0ddg1GAK6b.woff2') format('woff2');
}